In [1]:
# 1. Data Types

a=3
b=15.8
c="numbers"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [2]:
# 2. Data Types

a = str(a)
b = int(b)
c = bool(c)
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'bool'>

In [3]:
# 3. Data Types

## Used variable names to numbers given in assignment and used previously

d= "a and b are numbers"
print(d)

a and b are numbers

In [6]:
# 4. Data Types

e= bool("games" == "Games")
print(e)

False

In [7]:
# 5. Data Types

f=First_Name=Deer
print(f)


# Error message is thinking that "Deer" is a variable which is not defined yet.
# You are trying to name a variable with another variable that has not been defined.
# We either need to define it or put it as a string value in parentheses to make code work.

NameError: name 'Deer' is not defined

In [4]:
# 1. Math Operators

x=10
y=3.5
z=13

## a.

g=(x/(y+z))**(1/2)
print(g)

h=(x+y)**2
print(h)

i=(2.718)**((-2*x)*(y+x))
print(i)

0.778498944161523
182.25
5.657803408289828e-118

In [9]:
# 2. Math Operators

## 1 foot = 0.3048 Meters
## 5ft 7in = 5.58 ft

body_mass = 70
height = 5.58*0.3048
BMI = body_mass/(height**2)
print(BMI)

24.199128003548275

In [11]:
#3. Math Operators

import math
math.sqrt((10**2)-(3**2))

9.539392014169456

In [14]:
# 4. Math Operators

## for quadratic 6x^2 +2x-4=0

j=6
k=2
l=(-4)

x_root1 = ((-k)+math.sqrt((k**2)-(4*j*l)))/(2*j)
x_root2 = ((-k)-math.sqrt((k**2)-(4*j*l)))/(2*j)

print(x_root1)
print(x_root2)

0.6666666666666666
-1.0

In [15]:
# 5. Math Operators

## variable m is part a for this question
m = 40*(9/5)+32
print(m)

## variable n is part b for this question
n = 80*1.609
print(n)

104.0
128.72

In [17]:
# 6. Math Operators

## a

time = 81/(900*0.045)
print(time)

## b

interest = 750/(4500*2)
print(interest)

## c

principal = 1230/(0.05*6)
print(principal)

2.0
0.08333333333333333
4099.999999999999